/* footerを下に固定する */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Lato', 'Noto Sans JP';
}
.main {
  flex: 1 0 auto;
}

.title {
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
}
h4 {
  color: #F1646A;
  font-family: 'Comfortaa', cursive;
}
h5 {
  color: #F1646A;
}

.description-block {
  margin-top: 20px;
}
.select-block {
  margin-top: 70px;
}
.result-block {
  margin-top: 70px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
#result-table {
  text-align: center;
}
#iframe-content {
  text-align: center;
}
td {
  padding-top: 25px;
  padding-bottom: 0px;
}

/* レスポンシブ */
@media screen and (max-width: 992px) {
  #song-info {
    margin-bottom: 0px;
  }
  /* iframeを横幅いっぱいのサイズにする */
  #iframe-content {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
  }
  #iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 993px) {
  #song-info {
    margin: 100px auto;
    height: 50px;
  }
}
@media screen and (min-width: 1501px) {
  iframe {
    width: 560px;
    height: 315px;
  }
  #song-info {
    margin: 130px auto;
    height: 50px;
  }
}