:root {
  --theme-color: #ee6e73;
  --font-color: #f1646a;
  --sub-theme-color: dodgerblue;
  --bg-color: #f8f8f8;
}

/* footerを下に固定する */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Lato', 'Noto Sans JP';
}
.main {
  flex: 1 0 auto;
}

/* body */
.main {
  background-color: var(--bg-color);
}
.pane {
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  /* box-shadow: 5px 5px 5px rgba(0,0,0,0.4); */
}
.row {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

/* フォント */
.title {
  font-size: 30px;
  font-family: 'Comfortaa';
}
h4 {
  color: var(--font-color);
  font-family: 'Comfortaa';
  margin-top: 0px;
}
h5 {
  color: var(--font-color);
}

/* 検索結果 */
#result-table {
  display: flex;
  justify-content: center;
  align-items: center;
}
#song-info {
  text-align: center;
}
.supplemental-info {
  font-size: 15px;
  margin-bottom: -5px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
#iframe-content {
  text-align: center;
}
td {
  padding-top: 25px;
  padding-bottom: 0px;
}

/* stats */
.chartdiv {
  width: 100%;
  height: 500px;
}

/* Footer */
#links {
  text-align: right;
}

/* 各リリースの間隔 */
.release-date {
  margin-top: 30px;
}
.release-content-type {
  margin-top: 30px;
}

/* materialize-cssの上書き */
.select-wrapper input.select-dropdown:focus {
  border-bottom-color: var(--sub-theme-color);
}
.dropdown-content li>span {
  color: var(--sub-theme-color);
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: var(--sub-theme-color);
  background-color: var(--sub-theme-color);
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: var(--sub-theme-color);
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border-color: var(--sub-theme-color);
}
nav {
  background-color: var(--theme-color);
}
footer {
  background-color: var(--theme-color);
}
.pagination li.active {
  background-color: var(--sub-theme-color);
}
input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: 1px solid var(--sub-theme-color);
  box-shadow: 0 1px 0 0 var(--sub-theme-color);
}
input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
  color: var(--sub-theme-color);
}
input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom:1px solid var(--sub-theme-color);
  -webkit-box-shadow:0 1px 0 0 var(--sub-theme-color);
  box-shadow:0 1px 0 0 var(--sub-theme-color);
}
.input-field .prefix {
  color: #949494;
}
.input-field .prefix.active {
  color: var(--sub-theme-color);
}

/* レスポンシブ */
@media screen and (max-width: 992px) {
  /* iframeを横幅いっぱいのサイズにする */
  #iframe-content {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
  }
  #iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 993px) {
  #result-table{
    height: 270px;
  }
}
@media screen and (min-width: 1501px) {
  iframe {
    width: 560px;
    height: 315px;
  }
  #result-table {
    height: 315px;
  }
}