:root {
  --theme-color: #ee6e73;
  --font-color: dodgerblue;
  --sub-theme-color: dodgerblue;
  --bg-color: #fff8f8;
}
#main {
  background-color: var(--bg-color);
}
footer {
  background-color: var(--theme-color);
}

/* footer固定 */
#__next {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
#main {
  flex: 1;
}

/* material-uiの上書き */
div[class*='makeStyles-formControl'],
div[class*='MuiFormControl-root jss'] {
  height: 3rem !important;
}
.MuiAppBar-root {
  margin: 0 !important;
  border: 0 !important;
}
.MuiPaper-root {
  border: solid 1px #dcdbdc;
  /* margin-top: 5px; */
}
.MuiCardContent-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiCheckbox-colorPrimary.Mui-checked,
.MuiRadio-colorPrimary.Mui-checked {
  color: var(--sub-theme-color) !important;
}
.MuiPaginationItem-textPrimary.Mui-selected {
  background-color: var(--sub-theme-color) !important;
}
.MuiTextField-root {
  padding-bottom: 5px !important;
}

/* react-slickの上書き */
.slick-slider {
  margin: 0 auto;
  max-width: 1120px;
}
.slick-prev {
  left: 25px !important;
  z-index: 1 !important;
}
.slick-next {
  right: 25px !important;
  z-index: 1 !important;
}

/* フォント */
label,
h1,
h2,
h3,
h5,
h6,
span {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif !important;
  font-weight: 400;
}
.title {
  font-size: 30px;
  font-family: 'Comfortaa';
  font-weight: 400;
}
h4 {
  font-size: 2.28rem;
  color: var(--font-color);
  font-family: 'Comfortaa';
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0.912rem;
}
h5 {
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem;
  color: var(--font-color);
}
h6 {
  font-size: 1.15rem;
  margin: 0.7666666667rem 0 0.46rem;
}
.text {
  color: #404040;
}

/* レスポンシブ */
@media screen and (max-width: 1120px) {
  .slick-slide iframe,
  .slick-slide img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 960px) {
  /* iframeを横幅いっぱいのサイズにする */
  #iframe-content {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
  }
  #iframe-content #iframe-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #iframe-content #usual-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1120px) {
  #simple-iframe-parent {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
  }
  #simple-iframe-parent #simple-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 959px) {
  #result-table {
    height: 315px;
  }
  #usual-iframe {
    width: 560px;
    height: 315px;
  }
  #iframe-wrapper {
    width: 560px;
    height: 315px;
  }
}
@media screen and (min-width: 1501px) {
  #iframe-wrapper {
    width: 640px;
    height: 360px;
  }
  #usual-iframe {
    width: 640px;
    height: 360px;
  }
  #result-table {
    height: 360px;
  }
}
