:root {
  --font-color: dodgerblue;
  --bg-color: #fff;
}

/* footer固定 */
#__next {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
#main {
  flex: 1;
}

/* material-uiの上書き */
div[class*='makeStyles-formControl'],
div[class*='MuiFormControl-root jss'] {
  height: 3rem !important;
}
.MuiPaper-root {
  border: solid 1px #dcdbdc;
}
.MuiCardContent-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* react-slickの上書き */
.slick-slider {
  margin: 0 auto;
  max-width: 1000px;
}

/* フォント */
label,
h1,
h2,
h3,
h5,
h6,
span {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif !important;
  font-weight: 400;
}
.title {
  font-size: 30px;
  font-family: 'Comfortaa';
  font-weight: 400;
}
h4 {
  font-size: 2.28rem;
  color: var(--font-color);
  font-family: 'Comfortaa';
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0.912rem;
}
h5 {
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem;
  color: var(--font-color);
}
h6 {
  font-size: 1.15rem;
  margin: 0.7666666667rem 0 0.46rem;
}
.text {
  color: #404040;
}
